<div>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">Home</li>
      <li class="nav-item">About</li>
      <li class="nav-item has-dropdown">
        <a href="#">Theme</a>
        <ul class="dropdown">
          <li class="dropdown-item">
            <a href="#" id="light" (click)="ligthTheme()">light</a>
          </li>
          <li class="dropdown-item">
            <a href="#" id="dark" (click)="darkTheme()">dark</a>
          </li>
          <li class="dropdown-item">
            <a href="#" id="solar" (click)="solarTheme()">solarize</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">Login</li>
    </ul>
  </nav>

  <header>
    <img src="../assets/logo.png" alt="" class="logo">
    <h1>Front-End Web Development, <br>Fired Up</h1>

    <p>Flutter, Firebase, Javascript, Node.js</p>

  </header>

  <main>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Eu ultrices vitae auctor eu augue ut lectus arcu. Varius duis at consectetur lorem donec massa sapien
      faucibus. Volutpat blandit aliquam etiam erat velit scelerisque in dictum non. Ac placerat vestibulum lectus
      mauris
      ultrices. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Massa tincidunt dui ut ornare lectus sit.
      Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Risus viverra adipiscing at in tellus
      integer
      feugiat. Accumsan lacus vel facilisis volutpat est velit egestas.
    </p>

    <p>
      In aliquam sem fringilla ut morbi tincidunt. Sed blandit libero volutpat sed cras ornare arcu. Diam volutpat
      commodo
      sed egestas egestas fringilla. Nibh mauris cursus mattis molestie a. Bibendum enim facilisis gravida neque
      convallis
      a. Ac turpis egestas maecenas pharetra. Sed nisi lacus sed viverra tellus in hac. Id nibh tortor id aliquet lectus
      proin nibh nisl condimentum. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Vestibulum rhoncus
      est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Diam quis enim lobortis scelerisque fermentum
      dui faucibus in. Nulla aliquet enim tortor at auctor. Facilisis leo vel fringilla est. Justo eget magna fermentum
      iaculis eu. Nisi lacus sed viverra tellus in hac habitasse. Eros donec ac odio tempor orci dapibus. Auctor eu
      augue
      ut lectus arcu bibendum at varius. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Tellus elementum
      sagittis vitae et leo duis ut. Neque egestas congue quisque egestas diam in arcu cursus euismod.
    </p>

    <p>
      Scelerisque in dictum non consectetur a erat nam at lectus. Ut enim blandit volutpat maecenas volutpat blandit
      aliquam etiam. Ornare suspendisse sed nisi lacus sed viverra tellus. Euismod lacinia at quis risus sed vulputate
      odio ut. In eu mi bibendum neque egestas congue. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae
      proin. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Eget nullam non nisi est. Volutpat est velit
      egestas dui. Magna ac placerat vestibulum lectus mauris ultrices. Egestas pretium aenean pharetra magna ac
      placerat
      vestibulum lectus. Nunc eget lorem dolor sed viverra ipsum nunc. Sed odio morbi quis commodo odio aenean sed. Enim
      tortor at auctor urna nunc id cursus metus. Mauris vitae ultricies leo integer malesuada. Placerat orci nulla
      pellentesque dignissim enim sit amet venenatis. Donec pretium vulputate sapien nec sagittis aliquam malesuada
      bibendum arcu. Et netus et malesuada fames ac turpis egestas.
    </p>

    <p>
      Et netus et malesuada fames ac. Et ligula ullamcorper malesuada proin libero. Eget mauris pharetra et ultrices
      neque
      ornare aenean euismod elementum. Tellus orci ac auctor augue mauris. Sed libero enim sed faucibus turpis in eu.
      Viverra suspendisse potenti nullam ac tortor vitae. Lacus laoreet non curabitur gravida arcu ac. Massa sapien
      faucibus et molestie ac feugiat sed lectus. Consequat nisl vel pretium lectus quam. Nec feugiat in fermentum
      posuere
      urna nec tincidunt.
    </p>

    <p>
      Libero justo laoreet sit amet. Consectetur a erat nam at lectus urna. Mi bibendum neque egestas congue quisque.
      Morbi leo urna molestie at elementum eu. Blandit massa enim nec dui nunc mattis enim ut. Sed augue lacus viverra
      vitae congue. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Leo vel orci porta non
      pulvinar neque. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Elementum nibh tellus molestie
      nunc non blandit massa enim. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Diam maecenas
      ultricies mi eget mauris pharetra et ultrices. Cum sociis natoque penatibus et. Ac orci phasellus egestas tellus
      rutrum. Pellentesque habitant morbi tristique senectus et. Integer eget aliquet nibh praesent tristique magna sit.
      Consectetur lorem donec massa sapien faucibus et. Gravida rutrum quisque non tellus. Lacinia quis vel eros donec
      ac
      odio tempor orci. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum.
    </p>
  </main>

  <footer>
    <div>Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>
  </footer>
</div>